div(class='ui container',style='margin-top: 50px', ng-controller='aboutController')
    div(class="ui four stackable cards")
        div(class='ui card', ng-repeat='profile in profiles')
            div(class='ui slide masked reveal image')
                img(src='/images/profile/{{profile.avatar}}', class='visible content')
                img(src='/images/profile/{{profile.avatar_hidden}}',class='hidden content')
            div(class='content')
                div(class='header') {{profile.name}}
                div(class='meta') {{profile.title}}
                div(class='description') {{profile.description}}
                div(class='extra') email: {{profile.email}}
                div(class='extra')
                    a(href='/PDFs/{{profile.resume}}',target='_blank') Resume
                div(class='extra') 
                    a(href='{{profile.linkedin}}') Linkedin
                div(class='extra')
                    a(href='{{profile.blog}}') GitHub Page
