extends ../common/layout/layout.jade
block content
  p #{title}
  div(ng-controller='firstController as xxx',class='col')
    span Test
    input(type='text',ng-model='first')
    input(type='text',ng-model='second')
    p {{xxx.first}}
    button(ng-click = 'update()') Message
    {{first.heading + first.message}}

  div(ng-controller='tryController as try')
    span Data
    ul
      li(ng-repeat='website in websites')
        span {{website.info.name + ': '}}
        a(href="{{website.info.URL}}"){{website.info.URL}}

  
