doctype html
html(ng-app='firstTry')
head 
  title=title
  script(src='/javascripts/lib.min.js')
  script(src='/javascripts/app.min.js')
  <!-- script(src='/javascripts/angular.min.js') -->
  <!-- script(src='/javascripts/first.js') -->
body
  
  p #{title}
  div(ng-controller='firstController',class='col')
    span Test
    input(type='text',ng-model='first')
    input(type='text',ng-model='second')
    button(ng-click = 'update()') Message
    {{heading + message}}

  div(ng-controller='databaseController')
    span Data
    ul
      li(ng-repeat='website in websites')
        span {{website.info.name + ': '}}
        a(href="{{website.info.URL}}"){{website.info.URL}}

  
