extends ../layout/layout

block menubar
    div(class="ui inverted vertical masthead center aligned segment")
        div(class="ui container")
            div(
                class="ui large secondary inverted pointing menu",
                ng-controller="MenuController",
                id = 'menu'
                )
                a(class="item {{isActive('/')}}", href='/') Home
                a(class="item {{isActive('/qa')}}", href='/qa') Q&A
                a(class="item {{isActive('/about')}}", href='/about') About us
                // a(class="item", href='/index') Home
                // a(class="item", href='/category') category
                // a(class="item", href='/about') About us
                div(class="ui right aligned container")
                    div(class='ui text container')
                        div(class='header',id='bowl_NO') bowl No.#{server}  at your service
        img(class='ui centered medium image', src='/images/logo.png')
        div(class="ui text container")
            h1(class='ui inverted header',id='title1') Web HotPot
            h3(class='ui inverted header',id='title2') share popular, amazing techniques for building a website
            a(class="ui huge primary button",id = 'scrollToContent',value = 'Start') Get Started
                i(class="right arrow icon")

block content
    div(class='modal')
    div(ng-view)

block footer
    div(id='BackToTop')
        button(class='ui icon button', hidden='true', id='backToTop',value='Back To Top')
            i(class = 'big angle up icon')
    div(class='ui inverted vertical footer segment')
        div(class='ui container',id = "footer_container")
            div(class='ui stackable inverted divided equal height stackable grid')
                div(class='three wide column')
                    h4(class='ui inverted header') Contact 
                    div(class='ui inverted link list')
                        a(class='item') Sitemap
                        a(class='item') Email 
                        a(class='item') Phone 
                div(class='three wide column')
                    h4(class='ui inverted header') Service
                    div(class='ui inverted link list')
                        a(class='item') Job
                        a(class='item') Work 
                        a(class='item') Career 
                div(class='three wide column')
                     img(class='ui medium image',src='/images/jhu.png')
