extends ../layout/layout

block content
    div(class="ui container")
        div(
            class="ui fixed top stackable compact menu"
            ng-controller="MenuController"
            )
            div(class="header item")

