extends ../layout/layout

block content
    div(class="ui inverted vertical masthead center aligned segment")
        div(class="ui container")
            div(
                class="ui large secondary inverted pointing menu"
                ng-controller="MenuController"
                )
                a(class="item {{isActive('/')}}", href='/') Home
                a(class="item {{isActive('/category')}}", href='/category') category
                a(class="item {{isActive('/about')}}", href='/about') About us
                // a(class="item", href='/index') Home
                // a(class="item", href='/category') category
                // a(class="item", href='/about') About us

                div(class="right item")
                    div(class="ui action input")
                        input(type="text", placeholder="search..")
                        button(class="ui icon button")
                            i(class="search icon")
        // div(class='ui segment',style='margin-top:20px')
        img(class='ui centered medium image', src='/images/logo.png')
        div(class="ui text container")
            h1(class="ui inverted header",style="margin-top: 10px; font-size: 4em;") Web HotPot
            h2 share popular, amazing techniques for building a website
            div(class="ui huge primary button") Get Started
                i(class="right arrow icon")
    div(ng-view)
