extends ../layout/layout

block content
  div(class='ui large top fixed menu transition visible',style='display:flex !important;')
    div(class='ui cantainer')
      a(class='active item') Home
      a(class='item') Test
      div(class='right menu')
        div(class='item')
          h1 Web
        div(class='item')
          h1 Tech
  div(class='ui vertical inverted sidebar menu left')
    a(class='active item') Home 
    a(class='item') Test 
  div(class='pusher')
    div(class='ui inverted vertical masthead center aligned segment')
      div(class='ui container')
        div(class='ui large secondary inverted pointing menu')
          a(class='item') Home
          a(class='item') Test
      div(class='ui text container')
        h1(class='ui inverted header') WebTech Navigate
        h2 give all kinds of webTech information

